<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>トップページ</title>
    <link rel="icon" href="https://www.golfdigest.co.jp/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.styles.css') }}">
  </head>
  <body>
    <header>

<h1>🏌️ Golf Shop</h1>

<form method="GET">

<input
type="text"
name="q"
value="{{ keyword }}"
placeholder="商品検索">

<button type="submit">
検索
</button>

</form>

/cart
  　カート
</a>


</header>
<div class="products">
    {% for item in items %}
    <div class="whole">
      <div class="item" data-id="{{ item.id }}">
        <div class="thumbnail">
          <img src="{{ url_for('static', filename=item.image) }}">
        </div>
        <div class="detail">
          <div class="name">
            <p>{{ item.name }}</p>
          </div>
              <p class="price">
                {{ item.price }}円
              </p>
          <div class="stock-buy">

    <p>
        残り<span>{{ item.stock }}</span>個
    </p>

    <button type="button" name="buy">
        購入
    </button>
</div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}" defer></script>
  </body>
</html>